#messages {
  max-height: 450px;
  overflow-y: auto;
}
.avatar {
  margin: 0.5rem;
}
div#remoteVideos {
  float: right;
}

span.text-muted {
  font-size: 15px;
}
img {
  height: 200px;
  width: 200px;
}
