#messages {
  max-height: 450px;
  overflow-y: auto;
}
.avatar {
  margin: 0.5rem;
}
div#remoteVideos {
  float: right;
}

span.text-muted {
  font-size: 17px;
}

p.card-text {
  font-size: 17px;
}
span.emoji {
  font-size: 30px;
}
span.text-muted {
  font-size: 21px;
}
